@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e2e8f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 8%;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: calc(0rem + 1.3vw);
  font-weight: 400;
  color: #fff;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo img {
  width: 20rem;
}

.section1 {
  background: linear-gradient(
    to right,
    rgb(36, 58, 66) 0%,
    rgb(36, 58, 66) 50%,
    rgb(13, 15, 17) 50%,
    rgb(13, 15, 17) 100%
  );
}

.section1 header {
  backdrop-filter: blur(10px);
  background: rgba(15, 15, 15, 0.13);
  margin: 0 auto;
}

@media only screen and (max-width: 860px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    width: 50%;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    justify-content: center;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-link {
  font-size: calc(1rem + 1.3vw);
  font-weight: 400;
  color: #fff;
}

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }

  .wrapper {
    color: #fff;
    text-align: center;
    padding: 20px;
  }

  .wrapper .text {
    font-size: calc(2.5rem + 10vw);
    font-family: Cormorant;
  }

  .wrapper .image1 {
    width: 100%;
    height: 100%;
  }

  .wrapper .image1 img {
    width: 100%;
    -webkit-mask-image: linear-gradient(#000, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(#000, rgba(0, 0, 0, 0));
  }

  .wrapper .para {
    color: #fff;
    font-size: calc(0rem + 4vw);
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .wrapper .btn {
    /* color: #fff; */
    text-decoration: none;
    background-color: transparent;
    border: 2px solid grey;
    padding: 10px;
    z-index: 2;
    margin: 10px 0;
  }

  .wrapper .btn a {
    color: gray;
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 860px) {
  .image1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .image1 img {
    max-width: 100%;
    height: auto;
  }

  .wrapper {
    color: #fff;
    padding: 0 10rem;
  }

  .wrapper .text {
    font-family: Cormorant;
    padding: 0 10%;
    position: absolute;
    top: 25%;
    font-size: calc(100px - 20px);
    background-color: red;
  }

  .wrapper .text .photo {
    margin-bottom: 5px;
    position: absolute;
    top: -20px;
    margin-left: -260%;
  }

  .wrapper .text .graphy {
    margin-bottom: 5px;
    position: absolute;
    top: 95px;
    margin-left: -230%;
  }

  .wrapper .para {
    color: #fff;
    font-size: 22px;
    font-family: lato;
    margin-bottom: 5px;
    position: absolute;
    max-width: 30rem;
    top: 63%;
    left: 62%;
    text-align: left;
  }

  .wrapper .btn {
    /* color: #fff; */
    text-decoration: none;
    background-color: transparent;
    border: 2px solid grey;
    padding: 10px;
    z-index: 2;
    margin: 10px 0;
    position: absolute;
    bottom: 0;
  }

  .wrapper .btn a {
    color: gray;
    font-size: 2.5rem;
  }
}

/* SECTION 2 */
.section2 {
  background-color: black;
  padding: 3rem 0;
}

/* section2-con-CON 1 */

.section2-con-con1 {
  /* background-color: gray; */
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.section2-con-con1a {
  position: relative;
  /* height: 167.5px; */
}

.section2-con-con1 h2 {
  color: #fff;
  max-width: 235px;
  font-size: 70px;
  font-weight: 400;
  /* background-color: red; */
}

.section2-con-con1 .DownArrow {
  color: #233942;
  /* font-size: 100px; */
  position: absolute;
  bottom: 0;
  right: 0;
}

.section2-con-con1 p {
  max-width: 512px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

/* section2-con-CON 2 */
.section2-con-con2 {
  padding: 0 20px;
}
.section2-con-con2a {
  /* background-color: rebeccapurple; */
  max-width: 840px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 125px auto;
}

/* Twitter */

.twitter {
  /* background-color: blue; */
  color: white;
  max-width: 300px;
  height: 90px;
  font-size: 50px;
  position: relative;
}

.twitter h5 {
  text-align: right;
  margin: 0 20px;
  font-size: 60px;
  /* background-color: red; */
  max-width: 290px;
}

.twitter h6 {
  text-align: right;
  margin: 0 20px;
  font-size: 24px;
}

.after {
  border-left: 2px solid #ffffff;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-left: 10px;
}

/* section2-con-CON3 */
.section2-con-con3 {
  /* background-color: gold; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 50px auto;
  /* overflow: hidden; */
}

.section2-con-con3-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section2-con-con3-img img {
  width: 100%;
  height: 100%;
}

/* Arrow */

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}

.arrow > p {
  border: 2px solid #fff;
  padding: 3px;
  border-radius: 50%;
  margin: 0 5px;
  color: #fff;
}

.arrow > p:hover {
  cursor: pointer;
  border: 2px solid gray;
  padding: 3px;
  border-radius: 50%;
  margin: 0 5px;
}

@media only screen and (max-width: 1000px) {
  .section2-con-con1 h2 {
    max-width: 200px;
    font-size: 50px;
  }

  .section2-con-con1 p {
    max-width: 412px;
  }
}

@media only screen and (max-width: 768px) {
  .section2-con-con1 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* justify-content: space-between; */
    padding: 0 50px;
  }

  .section2-con-con1 h2 {
    max-width: none;
    font-size: 70px;
    text-align: center;
    margin: 0 auto;
  }

  .section2-con-con1 .DownArrow {
    display: none;
  }

  .section2-con-con1 p {
    max-width: none;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
  }

  /* CON 2 */

  /* Twitter */

  .twitter {
    color: white;
    max-width: 300px;
    height: 90px;
    position: relative;
    /* background-color: gray; */
  }

  .twitter h5 {
    text-align: right;
    margin: 0 20px;
    font-size: 40px;
    /* background-color: red; */
    max-width: 290px;
  }

  .twitter h6 {
    text-align: right;
    margin: 0 20px;
    font-size: 20px;
  }

  .after {
    border-left: 2px solid #ffffff;
    height: 90px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .section2-con-con2a {
    max-width: 840px;
    height: fit-content;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: space-evenly;
    margin: 125px auto;
  }
  /* Twitter */
  .twitter {
    color: white;
    max-width: 300px;
    height: 100px;
    position: relative;
    /* background-color: purple; */
  }

  .twitter h5 {
    text-align: right;
    margin: 0 20px;
    font-size: 40px;
    /* background-color: red; */
    max-width: 290px;
  }

  .twitter h6 {
    text-align: right;
    margin: 0 20px;
    font-size: 20px;
  }

  .after {
    border-left: 2px solid #ffffff;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-left: 10px;
  }

  .section2-con-con3 {
    /* background-color: wheat; */
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    /* gap: 10px; */
    margin: 0px auto;
  }

  .section2-con-con3-img img {
    width: 100%;
    height: 100%;
  }
}
