@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background-color: #000;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 8%;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: calc(0rem + 1.3vw);
  font-weight: 400;
  color: #fff;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo img {
  width: 20rem;
}

.section1 {
  background: linear-gradient(
    to right,
    rgb(36, 58, 66) 0%,
    rgb(36, 58, 66) 50%,
    rgb(13, 15, 17) 50%,
    rgb(13, 15, 17) 100%
  );
}

.section1 header {
  backdrop-filter: blur(10px);
  background: rgba(15, 15, 15, 0.13);
  margin: 0 auto;
}

@media only screen and (max-width: 860px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    width: 50%;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    justify-content: center;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-link {
    font-size: calc(1rem + 1.3vw);
    font-weight: 400;
    color: #fff;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }

  .wrapper {
    color: #fff;
    text-align: center;
    padding: 20px;
  }

  .wrapper .text {
    font-size: calc(2.5rem + 10vw);
    font-family: Cormorant;
  }

  .wrapper .image1 {
    width: 100%;
    height: 100%;
  }

  .wrapper .image1 img {
    width: 100%;
    -webkit-mask-image: linear-gradient(#000, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(#000, rgba(0, 0, 0, 0));
  }

  .wrapper .para {
    color: #fff;
    font-size: calc(0rem + 4vw);
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .wrapper .btn {
    /* color: #fff; */
    text-decoration: none;
    background-color: transparent;
    border: 2px solid grey;
    padding: 10px;
    z-index: 2;
    margin: 10px 0;
  }

  .wrapper .btn a {
    color: gray;
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 860px) {
  .image1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .image1 img {
    max-width: 100%;
    height: auto;
  }

  .wrapper {
    color: #fff;
    padding: 0 10rem;
  }

  .wrapper .text {
    font-family: Cormorant;
    padding: 0 10%;
    position: absolute;
    top: 25%;
    font-size: calc(100px - 20px);
    background-color: red;
  }

  .wrapper .text .photo {
    margin-bottom: 5px;
    position: absolute;
    top: -20px;
    margin-left: -260%;
  }

  .wrapper .text .graphy {
    margin-bottom: 5px;
    position: absolute;
    top: 95px;
    margin-left: -230%;
  }

  .wrapper .para {
    color: #fff;
    font-size: 22px;
    font-family: lato;
    margin-bottom: 5px;
    position: absolute;
    max-width: 30rem;
    top: 63%;
    left: 62%;
    text-align: left;
  }

  .wrapper .btn {
    /* color: #fff; */
    text-decoration: none;
    background-color: transparent;
    border: 2px solid grey;
    padding: 10px;
    z-index: 2;
    margin: 10px 0;
    position: absolute;
    bottom: 0;
  }

  .wrapper .btn a {
    color: gray;
    font-size: 2.5rem;
  }
}

/* SECTION 2 */
.section2 {
  background-color: black;
  padding: 3rem 0;
}

/* section2-con-CON 1 */

.section2-con-con1 {
  /* background-color: gray; */
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.section2-con-con1a {
  position: relative;
  /* height: 167.5px; */
}

.section2-con-con1 h2 {
  color: #fff;
  max-width: 235px;
  font-size: 70px;
  font-weight: 400;
  /* background-color: red; */
}

.section2-con-con1 .DownArrow {
  color: #233942;
  /* font-size: 100px; */
  position: absolute;
  bottom: 0;
  right: 0;
}

.section2-con-con1 p {
  max-width: 512px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

/* section2-con-CON 2 */
.section2-con-con2 {
  padding: 0 20px;
}
.section2-con-con2a {
  /* background-color: rebeccapurple; */
  max-width: 840px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 125px auto;
}

/* Twitter */

.twitter {
  /* background-color: blue; */
  color: white;
  max-width: 350px;
  height: 90px;
  font-size: 50px;
  position: relative;
}

.twitter h5 {
  text-align: right;
  margin: 0 20px;
  font-size: 60px;
  /* background-color: red; */
  max-width: 290px;
}

.twitter h6 {
  text-align: right;
  margin: 0 20px;
  font-size: 24px;
}

.after {
  border-left: 2px solid #ffffff;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-left: 10px;
}

/* section2-con-CON3 */
.section2-con-con3 {
  /* background-color: gold; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 50px auto;
  /* overflow: hidden; */
}

.section2-con-con3-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section2-con-con3-img img {
  width: 100%;
  height: 100%;
}

/* Arrow */

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}

.arrow > p {
  border: 2px solid #fff;
  padding: 3px;
  border-radius: 50%;
  margin: 0 5px;
  color: #fff;
}

.arrow > p:hover {
  cursor: pointer;
  border: 2px solid gray;
  padding: 3px;
  border-radius: 50%;
  margin: 0 5px;
}

@media only screen and (max-width: 1000px) {
  .section2-con-con1 h2 {
    max-width: 200px;
    font-size: 50px;
  }

  .section2-con-con1 p {
    max-width: 412px;
  }
}

@media only screen and (max-width: 768px) {
  .section2-con-con1 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* justify-content: space-between; */
    padding: 0 50px;
  }

  .section2-con-con1 h2 {
    max-width: none;
    font-size: 70px;
    text-align: center;
    margin: 0 auto;
  }

  .section2-con-con1 .DownArrow {
    display: none;
  }

  .section2-con-con1 p {
    max-width: none;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
  }

  /* CON 2 */

  /* Twitter */

  .twitter {
    color: white;
    max-width: 300px;
    height: 90px;
    position: relative;
    /* background-color: gray; */
  }

  .twitter h5 {
    text-align: right;
    margin: 0 20px;
    font-size: 40px;
    /* background-color: red; */
    max-width: 290px;
  }

  .twitter h6 {
    text-align: right;
    margin: 0 20px;
    font-size: 20px;
  }

  .after {
    border-left: 2px solid #ffffff;
    height: 90px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .section2-con-con2a {
    max-width: 840px;
    height: fit-content;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: space-evenly;
    margin: 125px auto;
  }
  /* Twitter */
  .twitter {
    color: white;
    max-width: 300px;
    height: 100px;
    position: relative;
    /* background-color: purple; */
  }

  .twitter h5 {
    text-align: right;
    margin: 0 20px;
    font-size: 40px;
    /* background-color: red; */
    max-width: 290px;
  }

  .twitter h6 {
    text-align: right;
    margin: 0 20px;
    font-size: 20px;
  }

  .after {
    border-left: 2px solid #ffffff;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-left: 10px;
  }

  .section2-con-con3 {
    /* background-color: wheat; */
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    /* gap: 10px; */
    margin: 0px auto;
  }

  .section2-con-con3-img img {
    width: 100%;
    height: 100%;
  }
}

/* SECTION 3 */

.navbar1 {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  padding: 1rem 1.5rem;
}

.hamburger1 {
  display: none;
}

.bar1 {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.nav-menu1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item1 {
  margin-left: 5rem;
}

.nav-link1 {
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  margin: 15px;
}

.nav-link1:hover {
  color: #482ff7;
}

.nav-logo1 {
  font-size: 5rem;
  font-weight: 900;
  color: #fff;
  text-align: right;
  margin: 5rem 0;
}

@media only screen and (max-width: 850px) {
  .nav-link1 {
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    margin: 15px;
  }
}

@media only screen and (max-width: 575px) {
  .nav-link1 {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    margin: 0;
  }
}

.grid {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "grid-1 grid-2 grid-3 grid-4 grid-5 grid-6"
    "grid-1 grid-7 grid-3 grid-4 grid-8 grid-6"
    "grid-1 grid-7 grid-3 grid-10 grid-8 grid-11"
    "grid-9 grid-9 grid-3 grid-10 grid-8 grid-11"
    "grid-9 grid-9 grid-3 grid-10 grid-8 grid-11";
  gap: 10px;
}

.grid-1 {
  background-color: red;
  grid-area: grid-1;
}
.grid-2 {
  background-color: rebeccapurple;
  grid-area: grid-2;
}
.grid-3 {
  background-color: lightblue;
  grid-area: grid-3;
}
.grid-4 {
  background-color: gray;
  grid-area: grid-4;
}
.grid-5 {
  background-color: green;
  grid-area: grid-5;
}
.grid-6 {
  background-color: firebrick;
  grid-area: grid-6;
}
.grid-7 {
  background-color: purple;
  grid-area: grid-7;
}
.grid-8 {
  background-color: palegreen;
  grid-area: grid-8;
}
.grid-9 {
  background: url(images/Rectangle\ 21.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: grid-9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-10 {
  background-color: lightcoral;
  grid-area: grid-10;
}
.grid-11 {
  background-color: burlywood;
  grid-area: grid-11;
}

.grid-1 img,
.grid-2 img,
.grid-3 img,
.grid-4 img,
.grid-5 img,
.grid-6 img,
.grid-7 img,
.grid-8 img,
.grid-9 img,
.grid-10 img,
.grid-11 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-9 button {
  color: #fff;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .grid-6,
  .grid-11 {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "grid-1 grid-2  grid-4 grid-5 grid-6"
      "grid-1 grid-7  grid-4 grid-8 grid-6"
      "grid-1 grid-7  grid-10 grid-8 grid-11"
      "grid-9 grid-9  grid-10 grid-8 grid-11"
      "grid-9 grid-9  grid-10 grid-8 grid-11";
  }

  .grid-3 {
    display: none;
  }

  .grid-9 button {
    color: #fff;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border: none;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "grid-1 grid-2  grid-4 grid-6"
      "grid-1 grid-7  grid-4 grid-6"
      "grid-1 grid-7  grid-10 grid-11"
      "grid-9 grid-9  grid-10 grid-11"
      "grid-9 grid-9  grid-10 grid-11";
  }

  .grid-5,
  .grid-8 {
    display: none;
  }
}

/* SECTION 4 */

.section4-con {
  padding: 2rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  color: #fff;
}

#icon {
  font-size: 20px;
}

.box1 {
  padding: 10px;
}

.box1 h2 {
  font-family: Cormorant;
  font-weight: 400;
  text-align: left;
  font-size: calc(0rem + 4vw);
}

.box1 p {
  font-family: Lato;
  font-size: calc(0rem + 2vw);
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.box2 {
  padding: 10px;
  max-width: 220px;
}

.box2:hover {
  padding: 10px;
  max-width: 220px;
  border: 2px solid rgb(36, 58, 66);
  border-radius: 10px;
}

.box2 h3 {
  font-family: Lato;
  font-size: 20px;
  font-weight: bolder;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.box2 p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.box3 {
  padding: 10px;
  max-width: 220px;
}

.box3:hover {
  padding: 10px;
  max-width: 220px;
  border: 2px solid rgb(36, 58, 66);
  border-radius: 10px;
}

.box3 h3 {
  font-family: Lato;
  font-size: 20px;
  font-weight: bolder;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.box3 p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.box4 {
  padding: 10px;
  max-width: 220px;
}

.box4:hover {
  padding: 10px;
  max-width: 220px;
  border: 2px solid rgb(36, 58, 66);
  border-radius: 10px;
}

.box4 h3 {
  font-family: Lato;
  font-size: 20px;
  font-weight: bolder;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.box4 p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.box5 {
  padding: 10px;
  max-width: 220px;
}

.box5:hover {
  padding: 10px;
  max-width: 220px;
  border: 2px solid rgb(36, 58, 66);
  border-radius: 10px;
}

.box5 h3 {
  font-family: Lato;
  font-size: 20px;
  font-weight: bolder;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.box5 p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.box6 {
  padding: 10px;
  max-width: 220px;
}

.box6:hover {
  padding: 10px;
  max-width: 220px;
  border: 2px solid rgb(36, 58, 66);
  border-radius: 10px;
}

.box6 h3 {
  font-family: Lato;
  font-size: 20px;
  font-weight: bolder;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.box6 p {
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

@media only screen and (max-width: 860px) {
  .section4-con {
    padding: 2rem 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .section4-con {
    padding: 2rem 3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }

  .box1 {
    max-width: 250px;
  }

  .box1 h2 {
    font-size: 40px;
  }

  .box1 p {
    font-size: calc(0rem + 4vw);
  }
}

/* SECTION 5 */

.section5 {
  padding: 50px;
  background-color: rgb(20, 31, 36);
}

.section5-con {
  padding: 20px 40px;
}

.section5-cona {
  display: flex;
  gap: 10px;
}

.section5-con h2 {
  font-family: Cormorant;
  color: #fff;
  font-size: 70px;
  font-weight: 400;
  line-height: 85px;
  letter-spacing: 0em;
  text-align: left;
  margin: 25px 0;
}

.div1 {
  padding: 20px;
  background-color: rgb(35, 57, 66);
  max-width: 380px;
}

.twitter1 {
  display: flex;
  gap: 0 10px;
}

.twitter-pic {
  height: 100%;
  object-fit: cover;
}

.twitter-pic img {
  width: 66px;
  height: 66px;
}

.twitter-txt {
  color: #fff;
}

.twitter1 > div > h3 {
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.twitter1 > div > p {
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

hr {
  background-color: #fff;
  border: none;
  height: 1px;
  margin: 10px 0;
}

.div1 p {
  font-family: Lato;
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

@media only screen and (max-width: 700px) {
  .section5 {
    padding: 25px;
  }
  .section5-con {
    padding: 0px 30px;
  }

  .section5-con h2 {
    font-size: calc(3rem + 2vw);
    text-align: center;
  }

  .section5-cona {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .twitter-pic img {
    width: 40px;
    height: 40px;
  }

  .twitter-txt {
    color: #fff;
  }

  .twitter1 > div > h3 {
    color: #fff;
    font-size: 15px;
  }

  .twitter1 > div > p {
    color: #fff;
    font-size: 15px;
  }
}

/* SECTION 6 */

.section6 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/pricelist.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0 auto;
  color: #fff;
}

.section6 h2 {
  font-size: 5rem;
  text-align: left;
  padding: 35px 50px;
}

.section6-con {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.section6-con-1 {
  background-color: rgba(34, 36, 37, 0.5);
  backdrop-filter: blur(3px);
  padding: 25px 10px;
  margin: 25px 0;
}

.section6-con-1 {
  background-color: rgba(34, 36, 37, 0.5);
  backdrop-filter: blur(3px);
  padding: 25px 10px;
  margin: 25px 0;
}

.section6-con-1:hover {
  border: 4px solid #233942;
}

.section6-con-1 h3 {
  font-family: Lato;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
}

.section6-con-1 h6 {
  margin: 10px 0;
  font-family: Cormorant;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}

.section6-con-1a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  font-size: 1.5rem;
}

.section6-con-1a .p1 {
  font-family: Lato;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: left;
  margin: 10px 20px;
}

.section6-con-1a .p2 {
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: left;
  margin: 10px 20px;
}

.section6 button {
  color: #fff;
  background-color: transparent;
  padding: 10px;
  width: 80%;
  border: 2px solid #fff;
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.02em;
  cursor: pointer;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 30px 2px;
  background: #ffffff5e;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #233942;
}

@media only screen and (max-width: 1000px) {
  .section6 {
    padding: 0 20px;
  }

  .section6-con-1 {
    padding: 15px 0;
    margin: 10px 0;
  }

  .section6-con-1 h3 {
    font-size: 20px;
    line-height: 20px;
  }

  .section6-con-1 h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }

  .section6-con-1a {
    margin: 10px;
  }

  .section6-con-1a .p1 {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.02em;
    margin: 10px 20px;
  }

  .section6-con-1a .p2 {
    font-size: 13px;
    font-weight: 300;
    line-height: 13px;
    letter-spacing: 0.02em;
  }

  .section6 button {
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.02em;
    cursor: pointer;
  }

  .dot {
    height: 10px;
    width: 10px;
  }
}

@media only screen and (max-width: 780px) {
  .section6 h2 {
    font-size: 4rem;
    text-align: center;
    padding: 35px 50px;
  }
  .section6-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
  }

  .dot {
    display: none;
  }
}
