* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.con {
  background-color: gray;
  overflow: hidden;
}

/* SECTION 1 */
.section1 {
  /* width: 100%; */
  height: 100vh;
  background: linear-gradient(
    to right,
    rgb(36, 58, 66) 0%,
    rgb(36, 58, 66) 50%,
    rgb(13, 15, 17) 50%,
    rgb(13, 15, 17) 100%
  );
}

/*HEADER*/

.section1 header {
  backdrop-filter: blur(10px);
  background: rgba(15, 15, 15, 0.13);
  /* position: fixed; */
  z-index: 1000;
  margin: 0 auto;
  width: 100vw;
}

.h-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90vw; /* The width for the container (wrapper) */
  height: 100px;
}

.menu-wrap {
  display: none;
}

header nav {
  /* background-color: red; */
  height: 80px;
}

nav ul {
  align-items: center;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 80px;
}

nav ul li a {
  color: #fff;
  font-weight: 400;
  font-size: 11px;
  text-decoration: none;
  padding: 0 2.1rem;
}

nav ul li a:hover {
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
  color: white;
  text-shadow: 2px 2px 10px #fff;
  transition: ease-out;
  transition-duration: 1s;
}

/* STYLING THE MAIN IN SECTION 1*/
.h-con1 {
  margin: 0 auto;
  padding-top: 80px;
  width: 90vw;
  /* overflow: hidden; */
}

/* STYLING THE MAN IMAGE DIV*/
.image1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*target the image directly */
.image1 img {
  width: 600px;
  position: absolute;
  bottom: 0;
  transition: 0.3s;
}

/* STYLING THE TEXT IN SECTION 1 */

/* STYLE FOR PHOTO TEXT */
.h-con1 h2 {
  color: #fff;
  font-family: Cormorant;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 0em;
  position: absolute;
  top: 180px;
  left: 130px;
  z-index: 2;
  /* text-align: left; */
}

/* STYLE FOR GRAPH TEXT */
.h-con1 .h2 {
  color: #fff;
  font-family: Cormorant;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 0em;
  position: absolute;
  top: 255px;
  left: 210px;
  z-index: 2;
  /* text-align: left; */
}

/* STYLE FOR THE PARAGRAPH TEXT */
.h-con1 p {
  color: #fff;
  font-family: Lato;
  font-size: 22px;
  font-weight: 400;
  /* line-height: 32px; */
  letter-spacing: 0em;
  text-align: left;
  width: 18rem;
  position: absolute;
  bottom: 140px;
  right: 225px;
  z-index: 2;
}

/* STYLE FOR THE BUTTON */
.h-con1 .btn {
  color: #fff;
  text-decoration: none;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid grey;
  padding: 10px;
  z-index: 2;
}

/* STYLING ICONS */
/* TO POSITION THE ICONS */
.home-sci {
  position: absolute;
  /* bottom: 30px; */
  top: 15rem;
  right: 2rem;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* TO STYLE THE ICON */

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background: transparent;
  /* border: 2px solid rgb(36, 58, 66); */
  /* border-radius: 50%; */
  font-size: 40px;
  color: rgb(36, 58, 66);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

/* THE LINE BEFORE AND AFTER THE ICON */

.before {
  border-left: 1px solid rgb(36, 58, 66);
  height: 100px;
  position: absolute;
  margin-left: -4px;
  top: 7rem;
  right: 5rem;
}

.after {
  border-left: 1px solid rgb(36, 58, 66);
  height: 100px;
  position: absolute;
  margin-left: -4px;
  top: 30rem;
  right: 5rem;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    display: none;
  }

  /* STYLE FOR PHOTO TEXT */
  .h-con1 h2 {
    font-size: 60px;
    position: absolute;
    top: 210px;
    left: 100px;
  }

  /* STYLE FOR GRAPH TEXT */
  .h-con1 .h2 {
    color: #fff;
    font-family: Cormorant;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 0em;
    position: absolute;
    top: 270px;
    left: 145px;
    z-index: 2;
  }

  /* STYLE FOR THE PARAGRAPH TEXT */
  .h-con1 p {
    font-size: 18px;
    width: 15rem;
    position: absolute;
    bottom: 140px;
    right: 145px;
    z-index: 2;
  }
}

@media only screen and (max-width: 800px) {
  /* STYLING THE MAN IMAGE DIV*/
  .image1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*target the image directly */
  .image1 img {
    width: 550px;
    position: absolute;
    bottom: 0;
  }

  /* STYLE FOR PHOTO TEXT */
  .h-con1 h2 {
    font-size: 50px;
    position: absolute;
    top: 250px;
    left: 50px;
    z-index: 2;
    /* text-align: left; */
  }

  /* STYLE FOR GRAPH TEXT */
  .h-con1 .h2 {
    font-size: 50px;
    position: absolute;
    top: 300px;
    left: 90px;
    z-index: 2;
    /* text-align: left; */
  }

  /* STYLE FOR THE PARAGRAPH TEXT */
  .h-con1 p {
    font-size: 15px;
    font-weight: 400;
    width: 14rem;
    position: absolute;
    bottom: 130px;
    right: 70px;
    z-index: 2;
  }

  /* STYLING ICONS */
  /* TO POSITION THE ICONS */
  .home-sci {
    position: absolute;
    /* bottom: 30px; */
    top: 15rem;
    right: 2rem;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* TO STYLE THE ICON */

  .home-sci a {
    font-size: 25px;
  }

  /* THE LINE BEFORE AND AFTER THE ICON */

  .before {
    border-left: 1px solid rgb(36, 58, 66);
    height: 100px;
    position: absolute;
    margin-left: -4px;
    top: 7rem;
    right: 5rem;
  }

  .after {
    border-left: 1px solid rgb(36, 58, 66);
    height: 100px;
    position: absolute;
    margin-left: -4px;
    top: 30rem;
    right: 5rem;
  }
}

@media only screen and (max-width: 600px) {
  /* STYLING THE MAN IMAGE DIV*/
  .image1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*target the image directly */
  .image1 img {
    width: 450px;
    position: absolute;
    bottom: 0;
  }

  .h-con .logo img {
    width: 200px;
    transition: 0.5s;
  }

  .social-icons {
    display: none;
  }

  @media only screen and (max-width: 500px) {
    /* STYLING THE MAN IMAGE DIV*/
    .image1 {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    /*target the image directly */
    .image1 img {
      width: 350px;
      position: absolute;
      bottom: 0;
    }

    .h-con .logo img {
      width: 150px;
      transition: 0.5s;
    }
  }

  @media only screen and (max-width: 380px) {
    /* STYLING THE MAN IMAGE DIV*/
    .image1 {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    /*target the image directly */
    .image1 img {
      width: 250px;
      position: absolute;
      bottom: 0;
    }

    .h-con .logo img {
      width: 100px;
      transition: 0.5s;
    }
  }
}

/* SECTION 2 */
/* .section2-con {
  background-color: red;
}

.section2-con h2 {
  color: #fff;
  font-family: Cormorant;
  font-size: 70px;
  font-weight: 400;
  width: 15rem;
  background-color: blue;
} */
