* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.con {
  background-color: gray;
}

/* SECTION 1 */
.section1 {
  /* width: 100%; */
  height: 100vh;
  background: linear-gradient(
    to right,
    rgb(36, 58, 66) 0%,
    rgb(36, 58, 66) 50%,
    rgb(13, 15, 17) 50%,
    rgb(13, 15, 17) 100%
  );
}

/*HEADER*/

.section1 header {
  backdrop-filter: blur(10px);
  background: rgba(15, 15, 15, 0.13);
  position: fixed;
  z-index: 1000;
  margin: 0 auto;
  width: 100vw;
}

.h-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90vw;
}

header nav {
  /* background-color: red; */
  height: 80px;
}

nav ul {
  align-items: center;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 80px;
}

nav ul li a {
  color: #fff;
  font-weight: 400;
  font-size: 11px;
  text-decoration: none;
  padding: 0 2.1rem;
}

nav ul li a:hover {
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
  color: white;
  text-shadow: 2px 2px 10px #fff;
  transition: ease-out;
  transition-duration: 1s;
}

/* STYLING THE MAIN IN SECTION 1*/
.h-con1 {
  margin: 0 auto;
  padding-top: 80px;
  width: 90vw;
  /* overflow: hidden; */
}

/* STYLING THE IMAGE DIV*/
.image1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*target the image directly */
.image1 img {
  width: 600px;
  position: absolute;
  bottom: 0;
}

/* STYLING THE TEXT IN SECTION 1 */

/* STYLE FOR PHOTO TEXT */
.h-con1 h2 {
  color: #fff;
  font-family: Cormorant;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 0em;
  position: absolute;
  top: 180px;
  left: 130px;
  z-index: 2;
  /* text-align: left; */
}

/* STYLE FOR GRAPH TEXT */
.h-con1 .h2 {
  color: #fff;
  font-family: Cormorant;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 0em;
  position: absolute;
  top: 255px;
  left: 210px;
  z-index: 2;
  /* text-align: left; */
}

/* STYLE FOR THE PARAGRAPH TEXT */
.h-con1 p {
  color: #fff;
  font-family: Lato;
  font-size: 22px;
  font-weight: 400;
  /* line-height: 32px; */
  letter-spacing: 0em;
  text-align: left;
  width: 18rem;
  position: absolute;
  bottom: 140px;
  right: 225px;
  z-index: 2;
}

/* STYLE FOR THE BUTTON */
.h-con1 .btn {
  color: #fff;
  text-decoration: none;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid grey;
  padding: 10px;
  z-index: 2;
}

/* STYLING ICONS */
.social-icons {
  width: 100%;
  height: 100%;
  background-color: red;
}

.social-icons img {
  width: 50px;
}

/* SECTION 2 */
.section2-con {
  background-color: red;
}

.section2-con h2 {
  color: #fff;
  font-family: Cormorant;
  font-size: 70px;
  font-weight: 400;
  width: 15rem;
  background-color: blue;
}
